/* styles/Home.module.css */
.container {
  display: flex;
  justify-content: space-between;
  color: white;
}

.cropButton {

}

.title {
  font-family: "Droid Sans Mono Dotted", serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: burlywood;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 15px;
  padding: 10px;
  background-color: rgba(140, 135, 140, 0.58);
  border: 1px solid #1d1d1d;
  border-radius: 10px;
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;

}

.verifyButton {
  background-color: #04AA6D;
  border-radius: 8px;
}

.proveButton {
  background-color: #f44336;
  border-radius: 8px;
}
