/* styles/Home.module.css */
.container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.verifyButton {
  background-color: #04AA6D;
  border-radius: 8px;
}

.proveButton {
  background-color: #f44336;
  border-radius: 8px;
}
